@import "@fortawesome/fontawesome-free/css/all.css";
@import "tailwindcss/dist/tailwind.css";

* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
}

.pattern-dots-md {
  background-image: radial-gradient(currentColor 1px, transparent 1px);
  background-size: calc(10 * 1px) calc(10 * 1px);
}

img {
  border: white 2px solid;
  border-radius: 5%;
}

button:disabled {
  cursor: not-allowed;
}
